<div class="mdc-layout-grid__inner">
  <div class="game-field">
    {{#each this.gameState as |field index|}}
      <Game::Field @value={{field}}
                   @onClick={{fn this.clickCell index}}/>
    {{/each}}
  </div>
</div>
{{#unless this.playing}}
  <div class="mdc-layout-grid__inner">
    <label>{{this.victoryText}}</label>
  </div>
{{/unless}}

<Atoms::Button @onClick={{fn this.newGame}} @text="New game"/>