<div class="mdc-touch-target-wrapper">
  <button {{on "click" @onClick}} class="mdc-button mdc-button--raised">
    <span class="mdc-button__label">{{@text}}</span>
    <span class="mdc-button__touch"></span>
  </button>
</div>